/* Heading */
h1{
    width: 100%;
    padding: 20px;
    background-color: #044F67;
    color: white;
    font-weight: bold;
    text-align: center;
}

body {
    background: url(cloud-lost-in-the-forest.jpg);
    background-repeat: no-repeat;
    background-size: 1500px 1000px;
    align-content: center;
  }

  
/* grid setup */
  .container{
      max-width: 100%;
  }

  @media (min-width: 400px) {
      .container{
          width: 100%;
          align-content: center;
      }
        .four{
        margin-left: 50px !important;
        }
      }

/* column 1 - search area*/

  .four{
    background-color: #ECF0F1;
    opacity: 0.5;
    padding: 20px;
    margin-left: 60px !important;
  }

/* search bar */
  .u-full-width{
      width: 70%;
      height: 35px;
  }

  /* search button */
  #searchCity{
      color: #044F67 !important;
  }

  /* city results buttons */
  button{
    width: 90%;
    align-content: center;
    background-color: #044F67 !important;
    color: white;
  }

  /* a.button{
    background-color: #044F67 !important;
    color: white;
  }
  
  a:visited {
    background-color: #044F67 !important;
    color: white;
  }
  
  a:active {
    background-color: #044F67 !important;
    color: white;
  } */

  /* column 2 - weather results */

  .seven{
    background-color: #ECF0F1;
    opacity: 0.8;
    padding: 20px;
  }

  /* results card */
  .card{
    background-color: #ECF0F1;
    width: 80%;
    height: 40%;
    padding: 10px;
  }

  .uvIcon{
      padding: 10px;
      Width: 40px;
      border-radius: 5px;
      /* background-color: purple; */
      /* color: white !important; */
  }

  /* table for heading information  */
  td{
      font-size: 30px;
      font-weight: bold;
  }

  h3{
      text-align: center;
  }

  /* five day forcast cards */
  .card{
      width: 100% !important;
      background-color: #044F67;
      padding: 5px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      border-radius: 5px;
      color: white;
  }

  /* icon size */
  img{
      width: 50px;
  }

  /* card columns */
  .two{
      text-align: center;
  }